.About {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    border: 1px solid dodgerblue;
    border-radius: 10px ;
    width: 200px;
    height: 250px;
}








