.About { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: cadetblue;
}

.photo {
    border: 5px solid cadetblue;
    border-radius: 10px ;
    width: 200px;
    height: 250px;
}

.About p {
    width: 60%;
    color: white;
}








