.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: cadetblue;
}

.info4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 45px;
}

.Contact a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}